<h1>Activez votre compte</h1>
<p>Bonjour {{ user.firstname }}, nous vous remercions de vous êtes inscrit(e) !</p>
<p>Afin d'accéder à nos services, veuillez vérifier votre adresse mail
avec le lien ici : <a href="">vérifier mail</a></p>
<p>Ce lien expirera dans 24h</p>